<template>
  <div class="flex px-5 overflow-auto jog-type-toggler-container">
    <button
      v-for="jobType in jobTypes"
      :key="jobType"
      class="py-3 border border-grey-30 text-14"
      :class="[
        currentJobType === jobType
          ? 'bg-green-20 text-green-30'
          : 'text-green-10',
      ]"
      @click="$router.push({ path: $route.path, query: { type: jobType } })"
    >
      {{ jobType }}
    </button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { jobData } from '~/assets/data/pages/job/job-data'

export default Vue.extend({
  name: 'Toggler',
  data() {
    return {
      jobTypes: jobData.map((job) => job.type),
    }
  },
  computed: {
    currentJobType() {
      return this.$route.query.type || jobData[0].type
    },
  },
})
</script>

<style lang="sass" scoped>
@media screen and (min-width: 500px)
  .jog-type-toggler-container
    @apply flex justify-center

// Arbeitnehmer
button:nth-child(1)
  @apply pl-8 pr-4.5 rounded-l-xl

// Arbeitnehmer
button:nth-child(2)
  @apply px-10

// Arbeitnehmer
button:nth-child(3)
  @apply pr-8 pl-4.5 rounded-r-xl
</style>
