<template>
  <div :id="currentJobData.type">
    <div class="job-description-container">
      <div
        class="mt-7.5 header mb-5 text-center text-grey-20 text-21"
        v-html="currentJobData.sections[0].header"
      ></div>
      <img :src="currentJobData.sections[0].avatar" />
      <div class="self-start pl-2.5 number-and-text-block first">
        <div class="text-130">1.</div>
        <p class="z-10" v-html="currentJobData.sections[0].paragraph" />
      </div>
      <div class="circle">&nbsp;</div>
    </div>
    <div class="job-description-container bg-green30-grey40">
      <img class="w-full" src="~/assets/images/shape-green-top.png" />
      <div class="self-start pl-9 number-and-text-block">
        <div class="text-130">2.</div>
        <p v-html="currentJobData.sections[1].header" />
      </div>
      <img :src="currentJobData.sections[1].avatar" />
      <img class="w-full" src="~/assets/images/shape-green-bottom.png" />
    </div>
    <div class="job-description-container">
      <div class="circle">&nbsp;</div>
      <div class="number-and-text-block -mt-7.5">
        <div class="text-130">3.</div>
        <p class="self-center" v-html="currentJobData.sections[2].header" />
      </div>
      <img :src="currentJobData.sections[2].avatar" />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { jobData } from '~/assets/data/pages/job/job-data'

export default Vue.extend({
  name: 'JobDescription',
  data() {
    return {
      jobTypes: jobData.map((job) => job.type),
    }
  },
  computed: {
    currentJobData() {
      const currentJobType = this.$route.query.type
      const currentJobData =
        jobData.find((data) => data.type === currentJobType) || jobData[0]

      return currentJobData
    },
  },
})
</script>

<style lang="sass" scoped>
div > div:nth-child(1) > .header
  width:280px

img
  @apply object-contain

p
  font: normal normal normal 16px/19px Lato
  letter-spacing: 0.47px

// custmom styles of job type
#Arbeitgeber,
#Temporärbüro
  .job-description-container:last-child
    .number-and-text-block
      @apply mt-5
    img
      margin-top: 20px

#Temporärbüro
  .job-description-container:last-child
    img
      margin-top: 20px

// customer classes
.circle
  @apply absolute rounded-full bg-grey-80 z-negative-1

.job-description-container:first-child .circle
  bottom: -10px
  left: -44px
  width: 55vw
  height: 55vw

.job-description-container:nth-child(2)
  margin-top: -31px


.job-description-container:last-child
  .circle
    top: -14vw
    left: -20vw
    width: 82vw
    height: 82vw
  .number-and-text-block >.text-130
    line-height: 45px

.job-description-container
  @apply flex flex-col items-center relative
  &:last-child
    margin-bottom: 138px


.number-and-text-block
  @apply flex items-baseline text-grey-70
  p
    font: normal normal normal 16px/19px Lato
    letter-spacing: 0.47px
    @apply ml-5
  &.first
    margin-top: -65px
</style>
