<template>
  <div class="relative flex flex-row items-end justify-end h-screen">
    <div class="absolute rounded-full bg-red circle" />
    <div class="text-green-10 header mr-2.5">
      <NuxtLink to="/job"> Test Mobile Index ALL </NuxtLink>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({})
</script>

<style lang="sass" scoped>
.header
  width: 240px
  font: normal normal normal 75px/90px Lato
  letter-spacing: 2.25px

.circle
  top: -37px
  left: -37px
  width: 168px
  height: 168px
</style>
