<template comments>
  <div>
    <!-- header -->
    <div class="flex flex-col w-screen header rounded-xl">
      <!-- line -->
      <div class="w-full header-line bg-green10-blue">&nbsp;</div>
      <button
        class="
          pr-4.5
          pt-6.5
          pb-5.5
          ml-auto
          text-green-10
          transition-opacity
          duration-300
          ease-out
          hover:opacity-70
          login
        "
      >
        Login
      </button>
    </div>

    <!-- avatar -->
    <div
      class="relative flex flex-col items-center font-medium text-center  bg-grey40-green30 z-negative-1"
    >
      <h1 class="avatar-header text-grey-10 mt-5.5">
        Deine Job <br />
        website
      </h1>
      <img src="~/assets/images/agreement.svg" />
    </div>

    <!-- Kostenlos Registrieren -->
    <div class="box-border px-5 bg-white registrieren rounded-xl">
      <button class="relative w-full py-3 mt-6 text-white rounded-xl">
        Kostenlos Registrieren
      </button>
    </div>

    <job-type-toggler />
    <job-description />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import JobTypeToggler from '../components/pages/job/job-type-toggler.vue'
import JobDescription from '../components/pages/job/job-description.vue'

export default Vue.extend({
  components: { JobTypeToggler, JobDescription },
})
</script>

<style lang="sass" scoped>

// header
.login
  font: normal normal normal 16px/19px Lato
  letter-spacing: 0.47px

.header
  box-shadow: 0px 3px 6px #00000029


.header-line
  height: 5px
  content: ''

// avatar
.avatar-header
  font: normal normal 500 42px/50px Lato
  letter-spacing: 1.26px

// Kostenlos Registrieren
.registrieren
  box-shadow: 0px -1px 3px #00000033
  margin-bottom: 91px
  margin-top: -32px

  button
    height: 41px
    background: transparent linear-gradient(95deg, #319795 0%, #3182CE 100%) 0% 0% no-repeat padding-box
    &:hover
      background: transparent linear-gradient(95deg, #2C7A7B 0%, #2B6CB0 100%) 0% 0% no-repeat padding-box
    &:disabled
      background: transparent linear-gradient(95deg, #B2F5EA 0%, #BEE3F8 100%) 0% 0% no-repeat padding-box
    &:active
      background: transparent linear-gradient(95deg, #285E61 0%, #2C5282 100%) 0% 0% no-repeat padding-box
</style>
